@import '@/styles/vars';
@import '@/styles/mixins';

.game {
    display: grid;
    grid-template-columns: 320px auto;
    gap: 16px;
    border-radius: 8px;
    background-color: $darkgray;
    overflow: hidden;

    @include display(720px) {
        grid-template-rows: 1fr min-content;
    }
    
    &__img {    
        width: 100%;
        height: 150px;
        border-radius: 0 32px 32px 0;
        overflow: hidden;
        
        @include display(940px) {
            height: 100%;
        }
        @include display(720px) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            border-radius: 0 0 16px 16px;
        }
        
        img {
            object-fit: cover;
        }
    }

    &__content {
        width: 100%;
        padding: 8px;
        display: grid;
        grid-template-columns: auto auto min-content;
        gap: 16px;

        @include display(940px) {
            grid-template: min-content auto min-content / auto;
        }
        @include display(720px) {
            grid-template: repeat(3, min-content) / auto;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
    }

    &__name {
        font-size: 28px;
        color: $white;

        @include display(720px) {
            font-size: 22px;
        }
    }

    &__price {
        justify-self: end;
        font-size: 28px;
        color: $primary;

        @include display(940px) {
            justify-self: start;   
        }
    }

    &__del {
        padding: 0 10px;
        background: transparent;
        border: 1px solid darkgrey;
        border-radius: 8px;
        font-size: 20px;
        color: $white;
        transition: .2s;

        @include display(940px) {
            padding: 10px 15px;
            justify-self: end;   
        }

        &:hover {
            background: $secondary-opposite;
            color: $black;
        }
    }
}