.tags {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        padding: 5px 10px;
        margin-bottom: 8px;
        background-color: darkgray;
        border-radius: 16px;
        margin-right: 8px;
    }
}