@import '@/styles/vars';

.order {

    &__total {
        margin-bottom: 48px;
        color: $white;
        font-size: 24px;
    }

    &__list {
        display: grid;
        gap: 20px;
    }

    &__item {
        width: 100%;
        margin-bottom: 32px;
    }
}