@import './fonts';

$darkgray: #CCC4;
$black: #0D0D1C;
$white: #DFE1E1;
$primary: #8FC5E0;
$secondary: #FFD29E;
$secondary-opposite: #ffaa94;

$font-Audiowide: 'Audiowide', cursive;
$font-Nixie_One: 'Nixie One', cursive;
$font-Open_Sans: 'Open Sans', sans-serif;