@import 'reset';
@import 'vars';
@import 'helpers';
@import 'mixins';
@import 'fonts';

* {
    font-family: $font-Open_Sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-Audiowide;
    word-spacing: 3px;
    letter-spacing: 2px;
    line-height: 120%;
}