@import '../../styles/vars';

.card {
    border-radius: 16px;
    background-color: rgb(58, 58, 58);
    overflow: hidden;
    
    &__img {
        height: 40%;
        overflow: hidden;
        
        img {
            object-fit: cover;
        }
    }

    &__content {
        min-height: 200px;
        height: 60%;
        padding: 8px 10px;
        display: grid;
        grid-template-rows: min-content auto min-content;
        gap: 8px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $white;
    }

    &__tags {
        align-self: start;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        color: $white;
    }

    &__button {
        padding: 5px 15px;
        border-radius: 8px;
        color: $white;
        border: none;

        &_add {
            background-color: rgb(100, 68, 195);
        }

        &_remove {}
    }
}