@import '../../styles/vars';
@import '../../styles/mixins';

.card {
    border-radius: 16px;
    background-color: #ccc4;
    overflow: hidden;
    
    &__img {
        height: 40%;
        overflow: hidden;
        
        img {
            object-fit: cover;

        }
    }

    &__content {
        min-height: 200px;
        height: 60%;
        padding: 8px 10px;
        display: grid;
        grid-template-rows: min-content auto min-content;
        gap: 8px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $white;
    }

    &__tags {
        align-self: start;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        color: $white;
        font-weight: 700;
    }
}